/*=============CSS Reset==================*/
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";width:100%;}
input,a{outline:none;}
.fl {float:left}
.fr {float: right;}
i {font-style: normal;}
/*=======icon图标======*/
@font-face {
  font-family: 'iconfont';
  src: url('../download/font/iconfont.eot');
  src: url('../download/font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../download/font/iconfont.woff') format('woff'),
  url('../download/font/iconfont.ttf') format('truetype'),
  url('../download/font/iconfont.svg#iconfont') format('svg');
}
/*================
 * 中间公共的宽度
 * ===============*/
.top,
.head,
.nav,
.main,
.section,
.shadow,
.footer,
.bottom,
.single,
.view{
	width:1190px;
	margin:0 auto;
}



/*================
 * top
 * ===============*/
.topWrap {
	width:100%;
	height: 25px;
	border-bottom: 1px solid #e5e5e5;
	background:#f2f2f2;
}
.top {
	font-family: 'iconfont';
	color:#999999;
}
.top a {
	float: left;
    color: #999999;
    padding: 0 2px;
}
.top a:hover {
	color:#e60112;
	text-decoration: underline;
}
.top em {
	float:left;
	font-style: normal;
	font-size: 14px;
	color:#e60112;
	margin-top: 1px;
}
/*topLeft   .topRight*/
.topLeft,.topRight {
	float:left;
}
/*topLeft*/
.topLeft {
	width:580px;
}
.topLeft li {
	float:left;
	line-height:25px;
	margin-right:20px;
}
/*topRight*/ 
.topRight {
/*	background: pink;*/
	overflow: hidden;
}
.topRight>li {
	float: left;
    line-height: 25px;
    margin-right: 9px;
}
.topRight>li:last-child {
	margin-right: 0;
}
.topRight>li  i {
	float:left;
	font-style: normal;
	width:0;
	height:0;
	border-width:5px;
	border-style:solid;
	border-color:#bbbbbb transparent  transparent transparent;
	margin-top: 10px;
}

/*我的淘宝 二级菜单*/
.commonSub {
	display:none;  
}
/*动画的时间*/
.commonList i{
	 transition: all .3s;
}
/*鼠标滑动*/
.commonList:hover{
	background: #fff;
	border: 1px slid #ddd;
	border-bottom: 0;
}
.commonList:hover i {
	transform:rotate(180deg);
	margin-top:5px;
}
.commonList:hover .commonSub {
	display:block;
	position: absolute;
    top: 25px;
    border: 1px solid #ddd;
    background: #fff;
    border-top: 0;
    padding: 3px 2px;
}
/*手机*/
.subPhone {
	display: none;
	width: 175px;
    position: absolute;
    top: 25px;
    margin-left: -60px;
}
.subPhone .ewm{
	height: 175px;
	background: url(../images/ewm.png) no-repeat left top;
}
.subPhone span{
	margin-left: 85px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -12px;
}
.subPhone p:last-child{
	margin-left: 20px;
	height: 30px;
	background: url(../images/ewm.png) no-repeat center -185px;
}
.phone:hover .subPhone{
	display: block;
}


/*================
 * head
 * ===============*/
.head {
	height:96px;
	font-family: 'iconfont';
}
/*area*/
.area {
	padding-top:25px;
	width:154px;
	cursor: pointer;
	color:#e22a40;
	font-weight: 600;
}
.area>p {
	width:76px;
	line-height: 36px;
	text-align: center;
	border:1px solid #e5e5e5;
	border-radius:3px;
	font-size:16px;
}
.area .areaActive {
	color:#e22a40;
}
/*下拉区域*/
.moreCity {
	display: none;
	position: absolute;
	width: 480px;
	/*min-height: 605px;*/
	border: 1px solid #e5e5e5;
	background: #fff;
    z-index: 2;
}
.moreCity a {
	color:#5f5f5f;
	display: inline-block;
    margin-top: 18px;
    margin-right: 45px;
    font-weight: 100;
}
.hotCity {
	padding-top:25px;
	padding-left:25px; 
	font-size:14px;
}
.hotCity strong {
	display: block;
	height: 22px;
	color: #ababab;
}
/*字母筛选*/
.letter {
	margin-top:36px;
}
.letterCity {
	padding: 0 10px;
	width:460px;
	height:42px;
	border-bottom: 1px solid #eeeeee;
}
.letterCity li {
	float: left;
	line-height: 42px;
	padding:0 18px;
}
.cityCont{
	padding-left:25px;
	padding-bottom: 25px;
}
.cityCont div {
	width:480px;
	margin-top: 25px;
}
.cityCont div span,.cityCont div p{
	display: inline-block;
}
.cityCont div p{
	margin-left: 25px;
    margin-top: -32px;
}
/*鼠标进入字母*/
.letterCity li:hover {
	border: 1px solid #eeeeee;
	border-bottom:0;
	background: #fff;
}
.letterActive {
	border: 1px solid #eeeeee;
	border-bottom:0;
	background: #fff;
}
/*鼠标划入区域*/
/*?????????????????????????????   鼠标滑动木有实现*/
.area i {
	transition:all .3s;
}
.area:hover {
	background: #fff;
}
.area:hover p {
	border-bottom: 0;
}
.area:hover  i{
	transform:rotate(180deg);
}
.area:hover .moreCity {
	display:block;
}

/*search*/
.search {
	width: 565px;
	padding-top:25px;
}
.searchCon {
	width:533px;
	border: 2px solid #ff0036;
    overflow: hidden;
}
.searchGood{
	border:0;
	width: 447px;
	height: 30px;
	text-indent: 5px;
}
.searchBtn {
	border:0;
	color:#fff;
	font-size:16px;
	width: 86px;
	height: 32px;
	background: #ff0036;
	cursor: pointer;
}
/*headRight*/
.headRight {
	padding-top: 30px;
}
.headRight a {
	color:#666666;
	margin-right:10px;
}
.headRight a i {
	display: inline-block;
	border: 2px solid #df2d44;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-size:10px;
	color:#df2d44;
	line-height: 15px;
	text-align: center;
}
.headRight a:last-child {
	margin-top: -10px;
}


/*================
 * nav
 * ===============*/
.nav-wrap {
	width:100%;
	height:37px;
	border-bottom:1px solid #2f2f2f;
}
.nav {
	height:35px;
	font-family: 'iconfont';
}

/*商品分类*/
.classify {
	width: 239px;
	line-height: 37px;
	background: #2f2f2f;
	color:#fff;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
/*nav*/
.navCont {
	width:510px;
}
.navCont li{
	float:left;
	line-height: 36px;
}
.navCont li a {
	/*float:left;*/
	padding:0 26px;
	color:#333333;
	font-size: 16px;
}
.navCont li:before{
	content:'\20';
	width:0;
	height: 12px;
	border-right: 1px solid #d9d9d9;
}
.navCont li:hover a {
	color: #e22a40;
	text-decoration: underline;
}
/*右边小计*/
.weal {
	line-height: 36px;
	margin-left: 140px;
}
.weal a:first-child i {
	float: left;
    font-size: 22px;
    color: red;
}
.price {
	margin-left: 25px;
	width:200px;
	height: 30px;
	background: #bf0000;
	cursor:pointer;
}
.price i {
	display:inline-block;
	width:32px;
	height: 32px;
	background: #000;
	border-radius: 50%;
	color:#fff;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	margin-left: -16px;
}
.price b {
	color:#fcff00;
	font-weight: 600;
	font-size: 16px;
}
.price strong {
	float: right;
	width:0;
	height:0;
	border-width:5px;
	border-style:solid;
	border-color: #fff transparent transparent transparent;
  margin-top: 14px;
  margin-right: 14px;
}

/*
 * ==================
 * shadow
 * ================
 */
.shadow {
	height:40px;
	background: #ccc;
	border:1px solid #e4e4e4;
	margin-bottom: 10px;
}


/*================
 * bottom
 * ===============*/

/*bottom*/
.bottom-wrap {
    width:100%;
    height:176px;
    background: #c40000;
}
.bottom p {
    line-height: 30px;
}
.bottom .botP {
    color:gray;
}

/*
 * ==================
 * footer
 * ================
 */
.footer-wrap {
	width:100%;
	border-top:2px solid #d1d7dc;
}
.footer {
	height:251px;
	/*background: orange;*/
	padding-top:20px;
}
.footer>a {
	width:185px;
	padding-left:15px;
}
.footer ul  {
	cursor: pointer;
	width:198px;
}
.footer ul .foot-fir {
	font-size:18px;
	font-weight: 500;
	margin-bottom:18px;
}
.footer ul .foot-fir a {
	color:#333333;
}
.footer li {
	line-height: 20px;
}
.footer li a{
	color:#D1D7DC;
}



/*==================
    rightSide
 * =================*/
.rightSide{
	position:fixed;
	width:35px;
	height:100%;
	background: #000;
	right:0;
	top:0;
	padding-top:202px;
	z-index: 5;
}
.rightSide li {
	position:relative;
	width:35px;
	height: 30px;
    line-height: 30px;
	cursor: pointer;
	    margin-top: 15px;
}
.rightSide i {
    display: inline-block;
    width: 35px;

    text-align: center;
    font-size: 25px;
    color:#fff;
}
.rightSide span {
	display:none;
	z-index: 0;
	left: -166px;
	position: absolute;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #000;
    top: 0px;
    right: 35px;
    width: 100px;
    color:#C4C9CA;
    transition: all .5s;
}
.rightSide span strong {
    position: absolute;
	width:0;
	height:0;
	border-style:solid;
	border-width: 5px;
	border-color:transparent transparent transparent #000;
    right: -10px;
    top: 7px;
}
.rightSide li:hover {
	background: #e9394e;
}
.rightSide li:hover span {
    transition: all .5s;
	display:block;
	transform: translateX(65px);
}



/*==========
 * 注册登录相同样式
 ==========*/
.login-logo {
    width:100%;
    height:90px;
    overflow: hidden;
}
.login-logo a {
    display: block;
    width: 380px;
    height: 54px;
    background: url(../images/login/login01.png) no-repeat left top;
    margin-left:20px;
    margin-top: 34px;
}
.login-cont {
    font-family: 'iconfont';
    width:100%;
    height:600px;
    background: url(../images/login/login03.jpg) no-repeat center center/cover;
    position: relative;
}
.login {
	width:350px;
    height:400px;
    background: #fff;
    position: absolute;
    right: 60px;
    top: 50%;
    margin-top: -200px;
    padding: 30px 0 0 20px;
    box-sizing: border-box;
}
.login h3 {
	font-size: 24px;
    font-weight:500;
    margin-bottom:20px;
}
.login label {
	display: inline-block;
	width:68px;
	font-size: 16px;
	text-align: right;
}
.login input {
	width: 213px;
    height: 32px;
    margin-bottom: 16px;
    border-radius: 5px;
    text-indent: 5px;
    outline: none;
    border: 0;
    border: 1px solid #ddd;
    margin-left: 10px;
    box-shadow:2px 2px 3px #aaaaaa;
}
.login .sp-yzm{
	display: inline-block;
    margin-left: 110px;
    margin-bottom: 20px;
    font-size: 18px;
    background: #ccc;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.login .btn{
	 display: block;
    width: 300px;
    background: red;
    line-height: 42px;
    margin: 10px auto;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border:0px;
}