/*================
 * 网页背景色
 * ===============*/
body {
	width:100%;
	background:#fff;
	font-family: 'iconfont';
}


/*================
 * main
 * ===============*/
.main {
	height: 587px;
}
.main1{
	position: relative;
	background: #fff;
}
/*左边列表*/
.mainLeft {
	width:238px;
	border:1px solid #e7e7e7;
}
.mainLeft li {
	position:relative;
	width:210px;
	padding:0 15px;
	overflow: hidden;
	cursor: pointer;
}
.liCont{
	overflow: hidden;
	border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}
.mainLeft i,.mainLeft .food {
	float:left;
}
.mainLeft i {
	margin:9px 12px 0 0;
	font-size: 18px;
	color:#e22a40;
}
.mainLeft .food{
	width: 180px;
    margin-top: 10px
}
.mainLeft .food span{
    float: right;
}
.mainLeft .food p:first-child {
	color:#515151;
	font-size:14px;
	font-weight: 600;
	cursor: pointer;
}
.mainLeft .food p:last-child {
	color:#999999;
	font-size:12px;
	margin:13px 0;
}
.mainLeft .food p:last-child a{
	display: inline-block;
	margin-right:6px;
}

/*滑动的内容*/
h4 {
	font-weight: 600;
    margin-bottom: 13px;
}
.leftCont {
	display: none;
	position: absolute;
    width: 943px;
    height: 300px;
    border: 3px solid #e22a40;
    /*transition: all .1s ease-in;*/
    top: 0;
    left: 240px;
    z-index: 3;
    background: #fff;
}
.subview {
	height: 100%;
    position: relative;
	overflow:hidden;
}
.subview-li {
	float: left;
    border-right: 1px dotted #d3d3d3;
    padding: 21px 0 15px 25px;
    margin-right: 2px;
    width: 222px;
    /*height: 88px;*/
    overflow: hidden;
}
.subview-li p {
	overflow: hidden;
}
.subview-li p a{
    border-left: 1px solid #e7e7e7;
    padding-left: 9px;
    margin-left: -10px;  /*将|隐藏*/
    margin-right: 18px;
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    overflow: hidden;
}
.subview-promoto {
	width: 195px;
	height:100%;
    border-left: 1px solid #e7e7e7;
    background-color: #f7f8f8;
    position: absolute;
    right: 0;
    top: 0;
}
.subview-promoto p {
	overflow: hidden;
}
.subview-promoto p a{
    border-left: 1px solid #e7e7e7;
    padding-left: 9px;
    margin-left: -10px;  /*将|隐藏*/
    margin-right: 18px;
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    overflow: hidden;
}
.promoto1{
    padding: 15px 20px 0;
}
/*左侧的滑动*/
.main1 li:hover {
	background: #e22a40;
}
.main1 li:hover a,.main1  li:hover i {
	color:#fff;
}
/*???????????????????//不显示*/
.main1 li:hover .leftCont {
	display: block;
}

/*----------中间的一部分-----------*/
.bannerCont {
	width:750px;
	cursor: pointer;
	margin-right:8px;
}
/*轮播图*/
.sideshow {
	position:relative;
	width:750px;
	height:292px;
}
.sideshow img{
	width:750px;
	height:292px;
	vertical-align:bottom;
}
.img-list {
	position: absolute;
	z-index: 0;
}
.img-list li{
	position:absolute;
}
.img-list .active {
	opacity: 1;
	z-index: 2;
}
.btn-list {
	position: absolute;
	left:70%;
	bottom:10px;
	/*margin-left:*/
	padding: 0 4px;
}
.btn-list span {
	line-height: 20px;
    text-align: center;
    display: block;
    float: left;
    margin: 4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.btn-list .active {
	background: #f00;
}
.direction-btn a{
	position:absolute;
	top:50%;
	margin-top:-30px;
	width:30px;
	line-height: 60px;
	text-align: center;
	color:#fff;
	font-size: 30px;
	background: rgba(0,0,0,.2);
}
.right-btn {
	right: 0;
}
/*图片放大*/
.blowpic {
	width:750px;
	height: 295px;
}
.row1 {
	height: 120px;
}
.row2 {
	height: 172px;
}
.row1 a {
	width:249px;
	height: 120px;
	border-right:1px solid #ddd;
	float:left;
	position:relative;
}
.row1 a:last-child,.row2 a:last-child{
	border: 0;
}
.row2 a {
	width:249px;
	height: 172px;
	border-right:1px solid #ddd;
	float:left;
	position:relative;
}
/*====鼠标划入row1事件===*/
.row1 a:hover img {
	width:280px;
	height:150px;
	position: absolute;
	left:-15px;
	top:-15px;
	z-index: 3;
	border: 1px solid #ccc;
}
/*====鼠标划入row2事件===*/
.row2 a:hover img {
	width:280px;
	height:202px;
	position: absolute;
	left:-15px;
	top:-15px;
	z-index: 3;
	border: 1px solid #ccc;
	box-shadow: 1px 2px 1px;
}


/*右侧福利*/
.mainRight {
	height: 587px;
}
.well {
	width:190px;
	height: 230px;
	border:1px solid gold;
	border-top: 0;
	background: #fffce0;
}
.well>p {
	line-height: 36px;
	text-align: center;
	background: #ffe401;
}
.well>p span {
	color:red;
	font-size: 20px;
}
.well1 {
	height: 110px;
	padding: 8px;
	text-align: center;
}
.well1 i{
	display: block;
	width:110px;
	height:70px;
	background: url(../images/well.png) no-repeat left top;
	margin-left:30px ;
	margin-bottom: 16px;
}
.well2 {
	text-align: center;
}
.well2 a {
	float: left;
    margin: 5px 0 0 18px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.well2 a:last-child {
	border: 0;
}
.well2 i {
	display:block;
	font-size: 22px;
}
.mainRightBottom{
	background: #f2f2f2;
    margin-top: 10px;
}
.mainRightBottom a{
    border: 1px solid #CCCCCC;
    display: block;
}
.mainRightBottom a:last-child {
	border-top:0;
}


/*======================
 * section
 ===================*/
.section {
	min-height: 800px;
	height:auto!important;
	height:auto;
	/*background: pink;*/
	overflow: hidden;
	padding-bottom: 50px;
}
/*内容1*/
.cont1 {
	height:600px;
	margin-top:35px;
}
.cont1 h3 {
	font-weight: 600;
	line-height: 40px;
	font-size: 24px;
}
.cont1-top {
	width:100%;
	height:40px;
	border-bottom:2px solid #000000;
	overflow: hidden;
}
.cont1-top ul {
	overflow: hidden;
}
.cont1-top li {
	float: left;
    padding:17px 0;  /*给li加padding,使竖线下来*/
}
.cont1-top li a {
	float: left;
    border-right: 1px solid #ddd;
    padding: 0 10px;/*控制竖线的距离*/   
    margin-right:-1px;/*将最后一个竖线隐藏*/
}
/*cont1-bottom*/
.cont1-bottom {
	width: 100%;
    height: 558px;
}
.cbLeft {
	width: 240px;
    height: 558px;
    background: #ff9228;
}
.sxsg {
    height: 232px;
    padding: 15px;
    /*overflow: hidden;*/
}
.sxsg a{
	display: inline-block;
	width: 59px;
	height: 59px;
	border-radius:50%;
	background: #fff;
	border:1px solid #fff;
	line-height: 60px;
	text-align: center;
    margin: 10px 2px 10px 0;
}

/*==鼠标滑动=*/
.sxsg a:hover {
	text-decoration: underline;
	color:#fff;
	border-color:#ccc;
	background: rgba(255,255,255,.2);
	
}

/*cbcont*/
.cbcont {
	width:800px;
	height:558px;
}
.cbcont a {
	float:left;
	padding:20px 19px 13px 20px;
	border-right:1px solid #ccc;
}
.cbTitle {
	width:160px;
	margin:30px 0 10px 0;
	/*color:#E5E5E5;*/
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.cbprice span i{
	font-size:18px;
}
.cbprice strong{
	font-size: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e9394e;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
/*右边*/
.cbRight {
	
}
.cheap {
	width: 150px;
    height: 39px;
    background: url(../images/12.png) no-repeat left top;
    position: absolute;
}
.cbRight a {
    display: block;
}
.cbRight .cbRighta {
	
}
.picright {
	margin-top: 30px;
}

/*==================
    floor
 * =================*/
.floor {
	display:none;
	width: 82px;
    position: fixed;
    left: 15px;
    top: 120px;
    background: #fff;
    box-shadow: 1px 2px 3px grey;
    z-index: 3;
    text-align: center;
}
.floor li a{
	display: block;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
}
.floor .floorpic {
	height:60px;
}
.active {
	color:#fff;
	background: #e4593a;
}



