/*================
 * 网页背景色
 * ===============*/
body {
	width:100%;
	background:#fff;
	font-family: 'iconfont';
}




/*================
 * top
 * ===============*/
.topWrap {
	width:100%;
	height: 25px;
	border-bottom: 1px solid #e5e5e5;
	background:#f2f2f2;
}
.top {
	font-family: 'iconfont';
	color:#999999;
}
.top a {
	float: left;
    color: #999999;
    padding: 0 2px;
}
.top a:hover {
	color:#e60112;
	text-decoration: underline;
}
.top em {
	float:left;
	font-style: normal;
	font-size: 14px;
	color:#e60112;
	margin-top: 1px;
}
/*topLeft   .topRight*/
.topLeft,.topRight {
	float:left;
}
/*topLeft*/
.topLeft {
	width:580px;
}
.topLeft li {
	float:left;
	line-height:25px;
	margin-right:20px;
}
/*topRight*/ 
.topRight {
/*	background: pink;*/
	overflow: hidden;
}
.topRight>li {
	float: left;
    line-height: 25px;
    margin-right: 9px;
}
.topRight>li:last-child {
	margin-right: 0;
}
.topRight>li  i {
	float:left;
	font-style: normal;
	width:0;
	height:0;
	border-width:5px;
	border-style:solid;
	border-color:#bbbbbb transparent  transparent transparent;
	margin-top: 10px;
}

/*我的淘宝 二级菜单*/
.commonSub {
	display:none;  
}
/*动画的时间*/
.commonList i{
	 transition: all .3s;
}
/*鼠标滑动*/
.commonList:hover{
	background: #fff;
	border: 1px slid #ddd;
	border-bottom: 0;
}
.commonList:hover i {
	transform:rotate(180deg);
	margin-top:5px;
}
.commonList:hover .commonSub {
	display:block;
	position: absolute;
    top: 25px;
    border: 1px solid #ddd;
    background: #fff;
    border-top: 0;
    padding: 3px 2px;
}
/*手机*/
.subPhone {
	display: none;
	width: 175px;
    position: absolute;
    top: 25px;
    margin-left: -60px;
}
.subPhone .ewm{
	height: 175px;
	background: url(../images/ewm.png) no-repeat left top;
}
.subPhone span{
	margin-left: 85px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -12px;
}
.subPhone p:last-child{
	margin-left: 20px;
	height: 30px;
	background: url(../images/ewm.png) no-repeat center -185px;
}
.phone:hover .subPhone{
	display: block;
}


/*================
 * head
 * ===============*/
.head {
	height:96px;
	font-family: 'iconfont';
}
/*area*/
.area {
	padding-top:25px;
	width:154px;
	cursor: pointer;
	color:#e22a40;
	font-weight: 600;
}
.area>p {
	width:76px;
	line-height: 36px;
	text-align: center;
	border:1px solid #e5e5e5;
	border-radius:3px;
	font-size:16px;
}
.area .areaActive {
	color:#e22a40;
}
/*下拉区域*/
.moreCity {
	display: none;
	position: absolute;
	width: 480px;
	/*min-height: 605px;*/
	border: 1px solid #e5e5e5;
	background: #fff;
    z-index: 3;
}
.moreCity a {
	color:#5f5f5f;
	display: inline-block;
    margin-top: 18px;
    margin-right: 45px;
    font-weight: 100;
}
.hotCity {
	padding-top:25px;
	padding-left:25px; 
	font-size:14px;
}
.hotCity strong {
	display: block;
	height: 22px;
	color: #ababab;
}
/*字母筛选*/
.letter {
	margin-top:36px;
}
.letterCity {
	padding: 0 10px;
	width:460px;
	height:42px;
	border-bottom: 1px solid #eeeeee;
}
.letterCity li {
	float: left;
	line-height: 42px;
	padding:0 18px;
}
.cityCont{
	padding-left:25px;
	padding-bottom: 25px;
}
.cityCont div {
	width:480px;
	margin-top: 25px;
}
.cityCont div span,.cityCont div p{
	display: inline-block;
}
.cityCont div p{
	margin-left: 25px;
    margin-top: -32px;
}
/*鼠标进入字母*/
.letterCity li:hover {
	border: 1px solid #eeeeee;
	border-bottom:0;
	background: #fff;
}
.letterActive {
	border: 1px solid #eeeeee;
	border-bottom:0;
	background: #fff;
}
/*鼠标划入区域*/
/*?????????????????????????????   鼠标滑动木有实现*/
.area i {
	transition:all .3s;
}
.area:hover {
	background: #fff;
}
.area:hover p {
	border-bottom: 0;
}
.area:hover  i{
	transform:rotate(180deg);
}
.area:hover .moreCity {
	display:block;
}

/*search*/
.search {
	width: 565px;
	padding-top:25px;
}
.searchCon {
	width:533px;
	border: 2px solid #ff0036;
    overflow: hidden;
}
.searchGood{
	border:0;
	width: 447px;
	height: 30px;
	text-indent: 5px;
}
.searchBtn {
	border:0;
	color:#fff;
	font-size:16px;
	width: 86px;
	height: 32px;
	background: #ff0036;
	cursor: pointer;
}
/*headRight*/
.headRight {
	padding-top: 30px;
}
.headRight a {
	color:#666666;
	margin-right:10px;
}
.headRight a i {
	display: inline-block;
	border: 2px solid #df2d44;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-size:10px;
	color:#df2d44;
	line-height: 15px;
	text-align: center;
}
.headRight a:last-child {
	margin-top: -10px;
}


/*================
 * nav
 * ===============*/
.nav {
	height:37px;
	font-family: 'iconfont';
	border-bottom:2px solid #2f2f2f;
}

/*商品分类*/
.classify {
	width: 239px;
	line-height: 37px;
	background: #2f2f2f;
	color:#fff;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}
/*nav*/
.navCont {
	width:510px;
}
.navCont li{
	float:left;
	line-height: 36px;
}
.navCont li a {
	/*float:left;*/
	padding:0 26px;
	color:#333333;
	font-size: 16px;
}
.navCont li:before{
	content:'\20';
	width:0;
	height: 12px;
	border-right: 1px solid #d9d9d9;
}
.navCont li:hover a {
	color: #e22a40;
	text-decoration: underline;
}
/*右边小计*/
.weal {
	line-height: 36px;
	margin-left: 140px;
}
.weal a:first-child {
	
}
.weal a:first-child i {
	float: left;
    font-size: 22px;
    color: red;
}
.price {
	margin-left: 25px;
	width:200px;
	height: 30px;
	background: #bf0000;
	cursor:pointer;
}
.price i {
	display:inline-block;
	width:32px;
	height: 32px;
	background: #000;
	border-radius: 50%;
	color:#fff;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	margin-left: -16px;
}
.price b {
	color:#fcff00;
	font-weight: 600;
	font-size: 16px;
}
.price strong {
	float: right;
	width:0;
	height:0;
	border-width:5px;
	border-style:solid;
	border-color: #fff transparent transparent transparent;
    margin-top: 14px;
    margin-right: 14px;
}

/*================
 * main
 * ===============*/
.main {
	height: 587px;
}
.main1{
	position: relative;
}
/*左边列表*/
.mainLeft {
	width:238px;
	border:1px solid #e7e7e7;
}
.mainLeft li {
	position:relative;
	width:210px;
	padding:0 15px;
	overflow: hidden;
	cursor: pointer;
}
.liCont{
	overflow: hidden;
	border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}
.mainLeft i,.mainLeft .food {
	float:left;
}
.mainLeft i {
	margin:9px 12px 0 0;
	font-size: 18px;
	color:#e22a40;
}
.mainLeft .food{
	width: 180px;
    margin-top: 10px
}
.mainLeft .food span{
    float: right;
}
.mainLeft .food p:first-child {
	color:#515151;
	font-size:14px;
	font-weight: 600;
	cursor: pointer;
}
.mainLeft .food p:last-child {
	color:#999999;
	font-size:12px;
	margin:13px 0;
}
.mainLeft .food p:last-child a{
	display: inline-block;
	margin-right:6px;
}

/*滑动的内容*/
h4 {
	font-weight: 600;
    margin-bottom: 13px;
}
.leftCont {
	display: none;
	position: absolute;
    width: 943px;
    height: 300px;
    border: 3px solid #e22a40;
    /*transition: all .1s ease-in;*/
    top: 0;
    left: 240px;
    z-index: 2;
    background: #fff;
}
.subview {
	height: 100%;
    position: relative;
	overflow:hidden;
}
.subview-li {
	float: left;
    border-right: 1px dotted #d3d3d3;
    padding: 21px 0 15px 25px;
    margin-right: 2px;
    width: 222px;
    /*height: 88px;*/
    overflow: hidden;
}
.subview-li p {
	overflow: hidden;
}
.subview-li p a{
    border-left: 1px solid #e7e7e7;
    padding-left: 9px;
    margin-left: -10px;  /*将|隐藏*/
    margin-right: 18px;
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    overflow: hidden;
}
.subview-promoto {
	width: 195px;
	height:100%;
    border-left: 1px solid #e7e7e7;
    background-color: #f7f8f8;
    position: absolute;
    right: 0;
    top: 0;
}
.subview-promoto p {
	overflow: hidden;
}
.subview-promoto p a{
    border-left: 1px solid #e7e7e7;
    padding-left: 9px;
    margin-left: -10px;  /*将|隐藏*/
    margin-right: 18px;
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    overflow: hidden;
}
.promoto1{
    padding: 15px 20px 0;
}
/*左侧的滑动*/
.main1 li:hover {
	background: #e22a40;
}
.main1 li:hover a,.main1  li:hover i {
	color:#fff;
}
/*???????????????????//不显示*/
.main1 li:hover .leftCont {
	display: block;
}

/*----------中间的一部分-----------*/
.bannerCont {
	width:750px;
	cursor: pointer;
	margin-right:8px;
}
/*轮播图*/
.sideshow {
	position:relative;
	width:750px;
	height:292px;
}
.sideshow img{
	width:750px;
	height:292px;
	vertical-align:bottom;
}
.img-list {
	position: absolute;
	z-index: 0;
}
.img-list li{
	position:absolute;
}
.img-list .active {
	opacity: 1;
	z-index: 1;
}
.btn-list {
	position: absolute;
	left:70%;
	bottom:10px;
	/*margin-left:*/
	padding: 0 4px;
}
.btn-list span {
	line-height: 20px;
    text-align: center;
    display: block;
    float: left;
    margin: 4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.btn-list .active {
	background: #f00;
}
.direction-btn a{
	position:absolute;
	top:50%;
	margin-top:-30px;
	width:30px;
	line-height: 60px;
	text-align: center;
	color:#fff;
	font-size: 30px;
	background: rgba(0,0,0,.2);
}
.right-btn {
	right: 0;
}
/*图片放大*/
.blowpic {
	width:750px;
	height: 295px;
}
.row1 a{
	float:left;
	border-right:1px solid #ddd;
}
.row1 a:last-child {
	border: 0;
}
 .row2 a {
	float:left;
 }

/*右侧福利*/
.mainRight {
	height: 587px;
}
.well {
	width:190px;
	height: 230px;
	border:1px solid gold;
	border-top: 0;
	background: #fffce0;
}
.well>p {
	line-height: 36px;
	text-align: center;
	background: #ffe401;
}
.well>p span {
	color:red;
	font-size: 20px;
}
.well1 {
	height: 110px;
	padding: 8px;
	text-align: center;
}
.well1 i{
	display: block;
	width:110px;
	height:70px;
	background: url(../images/well.png) no-repeat left top;
	margin-left:30px ;
	margin-bottom: 16px;
}
.well2 {
	text-align: center;
}
.well2 a {
	float: left;
    margin: 5px 0 0 18px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.well2 a:last-child {
	border: 0;
}
.well2 i {
	display:block;
	font-size: 22px;
}
.mainRightBottom{
	background: #f2f2f2;
    margin-top: 10px;
}
.mainRightBottom a{
    border: 1px solid #CCCCCC;
    display: block;
}
.mainRightBottom a:last-child {
	border-top:0;
}


/*======================
 * section
 ===================*/
.section {
	min-height: 800px;
	height:auto!important;
	height:auto;
	background: pink;
	overflow: hidden;
	padding-bottom: 50px;
}
/*内容1*/
.cont1 {
	height:600px;
	margin-top:35px;
}
.cont1 h3 {
	font-weight: 600;
	line-height: 40px;
	font-size: 24px;
}
.cont1-top {
	width:100%;
	height:40px;
	border-bottom:2px solid #000000;
}
.cont1-top ul {
	overflow: hidden;
}
.cont1-top li {
	float: left;
    padding:17px 0;  /*给li加padding,使竖线下来*/
}
.cont1-top li a {
	float: left;
    border-right: 1px solid #ddd;
    padding: 0 10px;/*控制竖线的距离*/   
    margin-right:-1px;/*将最后一个竖线隐藏*/
}
/*cont1-bottom*/
.cont1-bottom {
	width: 100%;
    height: 558px;
}
.cbLeft {
	width: 240px;
    height: 558px;
    background: #ff9228;
}
.sxsg {
    height: 232px;
    padding: 15px;
    /*overflow: hidden;*/
}
.sxsg a{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius:50%;
	background: #fff;
	line-height: 60px;
	text-align: center;
    margin: 10px 4px 10px 0;
}
/*cbcont*/
.cbcont {
	width:800px;
	height:558px;
	margin-top:-8px;
}
.cbcont a {
	float:left;
	padding:20px 19px 13px 20px;
	border-right:1px solid #ccc;
}
.cbTitle {
	width:160px;
	margin:30px 0 10px 0;
	color:#E5E5E5;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.cbprice span i{
	font-size:18px;
}
.cbprice strong{
	font-size: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e9394e;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
/*右边*/
.cbRight {
	margin-top: -8px;
}
.cheap {
	width: 150px;
    height: 39px;
    background: url(../images/12.png) no-repeat left top;
    position: absolute;
}
.cbRight a {
    display: block;
}
.cbRight .cbRighta {
	margin-top: 30px;
}

/*
 * ==================
 * shadow
 * ================
 */
.shadow {
	height:40px;
	background: #ccc;
	border:1px solid #e4e4e4;
	margin-bottom: 10px;
}

/*
 * ==================
 * footer
 * ================
 */
.footer-wrap {
	width:100%;
	border-top:2px solid #d1d7dc;
}
.footer {
	height:251px;
	/*background: orange;*/
	padding-top:20px;
}
.footer>a {
	width:185px;
	padding-left:15px;
}
.footer ul  {
	cursor: pointer;
	width:198px;
}
.footer ul .foot-fir {
	font-size:18px;
	font-weight: 500;
	margin-bottom:18px;
}
.footer ul .foot-fir a {
	color:#333333;
}
.footer li {
	line-height: 20px;
}
.footer li a{
	color:#D1D7DC;
}

/*==================
    floor
 * =================*/
.floor {
	display:none;
	width: 82px;
    position: fixed;
    left: 15px;
    top: 120px;
    background: #fff;
    box-shadow: 1px 2px 3px grey;
    z-index: 9;
    text-align: center;
}
.floor li a{
	display: block;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
}
.floor .floorpic {
	height:60px;
}

